{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="about_section layout_padding-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 px-0">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="detail-box">
            <h2>
              О наших автомобилях
            </h2>
            <p>
              У нас самый большой выбор серийных автомобилей, и не только. Найдется авто для каждого по душе. Быстро, качественно, недорого.
            </p>
            <a href="{% url 'about' %}">
              Узнать больше
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>

<section class="book_section">
    <div class="form_container">
        <form method="get" action="">
            <div class="form-row">
                <div class="col-lg-8">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="{{ form.make.id_for_label }}">Желаемый автомобиль на выбор</label>
                            {{ form.make }}
                        </div>
                        <div class="col-md-6">
                            <label for="{{ form.color.id_for_label }}">Желаемый цвет автомобиля</label>
                            {{ form.color }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="{{ form.year.id_for_label }}">Год выпуска</label>
                            {{ form.year }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="btn-container">
                        <button type="submit">
                            Найти авто
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="img-box">
      <img src="{% static 'images/book-car.png' %}" alt="">
    </div>
  </section>

<section class="rent_section layout_padding">
    <div class="container">
      <div class="row">
        {% for car in cars_list %}
          {% if car.in_rental %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{ car.image.url }}" alt="Car image">
                    <div class="card-body">
                        <h5 class="card-title">{{ car.mark }} {{ car.model }}</h5>
                        <p class="card-text">
                            <strong>Год:</strong> {{ car.year }}<br>
                            <strong>Цвет:</strong> {{ car.color }}<br>
                            <strong>Цена:</strong> {{ car.price }} KZT.
                        </p>
                        <form method="post" action="{% url 'cars' %}">
                            {% csrf_token %}
                            <input type="hidden" name="rent_car_id" value="{{ car.id }}">
                            <button type="submit" class="btn btn-primary">Арендовать</button>
                        </form>
                    </div>
                </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="Page navigation" class="text-center">
                        <ul class="pagination justify-content-center">
                            {% if cars_list.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" aria-label="First">
                                        &laquo;&laquo;
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ cars_list.previous_page_number }}" aria-label="Previous">
                                        &laquo;
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&laquo;&laquo;</span>
                                </li>
                                <li class="page-item disabled">
                                    <span class="page-link">&laquo;</span>
                                </li>
                            {% endif %}
                            <li class="page-item disabled">
                                <span class="page-link">Страница {{ cars_list.number }} из {{ cars_list.paginator.num_pages }}</span>
                            </li>
                            {% if cars_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ cars_list.next_page_number }}" aria-label="Next">
                                        &raquo;
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ cars_list.paginator.num_pages }}" aria-label="Last">
                                        &raquo;&raquo;
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&raquo;</span>
                                </li>
                                <li class="page-item disabled">
                                    <span class="page-link">&raquo;&raquo;</span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
          </ul>
        </nav>
      </div>
    </div>
    </div>

    </div>
  </section>


{% endblock %}